@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-gray-800
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}

.bg-main {
  background-color: #d031da;
  background-image: linear-gradient(180deg, #d031da 0%, #FFBBEC 100%);
}

.fade-enter-active,
.fade-leave-active,
.popup-fade-enter-active,
.popup-fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active,
.popup-fade-enter,
.popup-fade-leave-active {
  opacity: 0;
}
